 <nav class="navbar navbar-light" style="background-color: #fff;">  
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DEMO_WORKS</a> 
    <class="nav-item"><%= link_to "Home", root_path, class:'nav-link'%>
      <class="nav-item"><%= link_to "All-Post",posts_path, class:'nav-link'%>
       <!-- <class="nav-item"><%#= link_to "Top-Post",top_posts_path, class:'nav-link'%> -->
         <class="nav-item"><%= link_to "TopViwed-Post", class:'nav-link'%>

    <div class="logout">
      <% if current_user %> 
      <%= current_user.email %>
        <%= button_to "log out", destroy_user_session_path, method: :delete, class: "btn btn-danger"%>
      <% end %>
    </div>
  </div>
</nav>