<h1>Posts</h1>
<%#= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
<hr>
<% @post.each do |post|  %>
<div class="card">
  <div class="card-body">
    <p class="card-id"><%= post.id %></p>
    <h4>Posted-By-<%= post.user.email %></h4>
    <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>

    <p class="card-text"><%= truncate(post.body, length: 60) %></p>
   
    <p class="card-avatar"><%= image_tag post.avatar,width: "300px" if post.avatar.attached? %></p>
    <h6><%= pluralize(post.views,"views") %></h6>
    <p class="card-date"><%= link_to post.created_at.strftime("%d/%b/%Y")%></p>
      <%= link_to 'Edit', edit_post_path(post), class: 'card-link' %> |
      <%= link_to 'Back to Posts', posts_path %>
      <%#= button_to "Destroy this post", @post, method: :delete %>
    <hr>
  </div>
</div>
<% end %>


